body {
	padding: 0px;
	margin: 0px;
	background-color: skyblue;
	font-family: 'Open Sans', sans-serif;
}

* {
	font-family: 'Open Sans', sans-serif;
}

#main {
	background-color: rgba(255, 255, 255, 0.2);
	max-width: 750px;
	padding: 25px;
	margin: auto;
	border-radius: 5px;
	margin-bottom: 25px;
}

#logo {
	display: block;
	margin: auto;
	max-width: 750px;
	padding: 15px;
}

#logo img {
	max-height: 100px;
	display: block;
	margin: auto;
}